<nav class="navbar">
    <div>
        <a href="/" class="klogo">
            <span class="klogo-title">
                <span class="klogo-easy">easy</span><span class="klogo-sipp">SIPp</span>
            </span><br>
            <span class="klogo-tagline">SIP Testing, Simplified.</span>
        </a>
    </div> 

    <div class="menubar">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/xml-management/">Xml List</a>
        <a class="nav-link" href="/create-scenario-xml/">Create Xml</a>
    </div>
</nav>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const currentLocation = window.location.pathname;
        const menuLinks = document.querySelectorAll('.menubar .nav-link');
    
        menuLinks.forEach(link => {
            if (link.getAttribute('href') === currentLocation) {
                link.classList.add('active');
            }
        });
    });    
</script>
